apiVersion: v1
kind: Service
metadata:
  name: rag-service
  namespace: germany-rag
spec:
  selector:
    app: rag-api
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
  type: ClusterIP